<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
   <h1>Tiny App</h1>
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
   </nav>
  <%include ./partials/_header %>

  <% if (user){%>
  <a href= '/urls/new'> Create tiny URL </a>
  <h3>My Tiny URLs:</h3>
    <ul>
        <% for(var shortURL in userUrls){ %>
        <li> <a href='/urls/<%= shortURL%>'> <%= shortURL%> - <%= userUrls[shortURL].longURL%> </a> </li>
        <form method="POST" action="/urls/<%=shortURL%>/delete">
          <a href= '/urls/<%= shortURL%>'> Edit </a>
          <button type="submit" class="btn btn-primary"> Delete </button>
        </form>
            <%}%>
      <%} else{%>
        <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Tiny App is a web application designed to take your long URLs and shorten them to make it easier to share content.</p>
        <hr class="my-4">
        <p>You must login or register to see your teeny tiny URLs.</p>
      </div>
      <%};%>
    </ul>

</body>
</html>
